<!DOCTYPE html>
<html lang="en">
  <head>
    <title>To Do App</title>
    <% include ./foundation %>
  </head>

  <body>
  <% include ./header %>

<script type="text/javascript" src="./javascript/app.js"></script>
<script type="text/javascript" src="./vendor/jquery-2.2.3.min.js"></script>