<nav id="nav-bar">
  <div class="row align-center">
    <div class="column small-4"><button class="button">TODO</button></div>
    <div class="column small-4"><button class="button">COMPLETED</button></div>
    <div class="column small-4"><button class="button">SEARCH AGAIN</button></div>
  </div>
</nav>