<title>To Do App</title>
<link rel='icon' type='image/gif/png' href='../images/shia-nbg.png'> 
<!-- Compressed CSS -->
<link rel="stylesheet" href="/vendor/foundation.min.css" />

<!-- JavaScripts -->
<script src="/vendor/jquery.js"></script>
<script src="/vendor/foundation.min.js"></script>

<!-- App CSS -->
<!-- <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" /> -->
<link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
<link rel="stylesheet" href="/styles/layout.css" type="text/css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.min.css"/>
