<nav id="nav-bar">
  <div class="row align-center">
    <div class="column small-4"><form method="get" action="/"><button class="button" type="submit">TODO</button></form></div>
    <div class="column small-4"><form method="get" action="/"><button class="button" type="submit">COMPLETED</button></form></div>
    <div class="column small-4"><form method="get" action="/search"><button class="button" type="submit">ANOTHER TODO</button></form></div>
  </div>
</nav>
