<!DOCTYPE html>
<html lang="en">

  <head>
    <% include ./partials/head %>
    <link rel="stylesheet" href="/styles/searchbar.css" type="text/css" />
  </head>

  <body>
    <% include ./partials/header %>
    <main>
      <% include ./partials/searchbar %>
      <img id="shia" src="../images/shia.jpeg">
    </main>
    <script type="text/javascript" src="./vendor/jquery-2.2.3.min.js"></script>
  </body>
</html>

