<!-- SEARCH PAGE -->
<!-- MOCK UP #2 -->
<!-- SEARCH BAR and not much else -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../views/partials/head %>
  </head>
  <body>
    <% include ../views/partials/header %>

<div class="outerbody">
  <div class="search">
      <fieldset class="large-2 columns">
        <select class="options">
          <option value="eat" id="eat">I want to eat at:</option>
          <option value="read" id="read">I want to read:</option>
          <option value="watch" id="watch">I want to watch:</option>
          <option value="buy">I want to buy:</option>
        </select>
      </fieldset>
      <fieldset class="large-10 columns">
        <div class="input-group">
          <input class="input-group-field" type="text">
          <a class="input-group-button button" id="submit">Submit</a>
        </div>
      </fieldset>
  </div>
</div>

  </body>
</html>