<!DOCTYPE html>
<html lang="en">

  <head>
    <% include ./partials/head %>
    <link rel="stylesheet" href="/styles/searchbar.css" type="text/css" />
  </head>

  <body>
    <% include ./partials/header %>

    <main>
      <% include ./partials/searchbar %>
    </main>

    <script type="text/javascript" src="./javascript/app.js"></script>
    <script type="text/javascript" src="./vendor/jquery-2.2.3.min.js"></script>
  </body>
</html>
