<!DOCTYPE html>
<html lang="en">

  <head>
    <% include ./partials/head %>
    <link rel="stylesheet" href="/styles/searchbar.css" type="text/css" />
  </head>

  <body>
    <% include ./partials/header %>
    <main>
      <% include ./partials/searchbar %>

      <a href='./images/shiaClaps.gif'><img src ="../images/shia.jpeg" id="shia"/></a>
    </main>

    <script type="text/javascript" src="./vendor/jquery-2.2.3.min.js"></script>
  </body>
</html>
