
<% include ../views/partials/head %>

<div id="searchresultcontainer">
<% for(key in taskObjects){ %>

  <main class="large 1 column">
    <ul class="listcontainer">
     <div class="namecontainer">
       <h2><%=taskObjects[key].name%></h2>
       <input type="image" src="../images/check.png" id="read">
         <div class="togglecontainer">
           <li>
             <div class="item-content">
               <img src="<%=taskObjects[key].img%>"/>
               <div class="synopsis" id="scrollContainer"><%=taskObjects[key].desc%>
               </div>
               <p class="rating"><%=taskObjects[key].rating%></p>
               <a href="www.facebook.com" id="url">View the trailer here</a>
               <div class="buttons">
                 <p><input type="image" src="../images/check.png" class="sidebuttons delete">
                 <p><input type="image" src="../images/plus.png" class="sidebuttons complete">
               </div>
             </div>
           </li>
         </div>
         </ul>
     </div>
      <% } %>
</main>

</html>