<!DOCTYPE html>
<html lang="en">

  <head>
    <% include ./partials/head %>
    <link rel="stylesheet" href="/styles/todo.css" type="text/css" />
  </head>
  <body>
<!-- both "row" and "container" will affect this -->
    <% include ./partials/header %>
    <main id="todocontainer">
      <div class="row" id="todocontainer">
        <div class="todocolumn large-3 columns" id='buy'>
          <header><h1 class="todoheader">Buy</h1></header>
        </div>

        <div class="todocolumn large-3 columns" id='eat'>
          <header><h1 class="todoheader">Eat</h1></header>
        </div>

          <div class="todocolumn large-3 columns" id='read'>
          <header><h1 class="todoheader">Read</h1></header>
        </div>

        <div class="todocolumn large-3 columns" id='watch'>
          <header><h1 class="todoheader">Watch</h1></header>
        </div>

      </div>
    </main>
    <script type="text/javascript" src="./scripts/todo.js"></script>
    <script type="text/javascript" src="./vendor/jquery-2.2.3.min.js"></script>
  </body>
</html>
