<!-- THIS IS THE MAIN USER VIEW
MOCK UP 1 - MAIN PAGE -->
  <% include ../views/partials/head %>

<!-- both "row" and "container" will affect this -->
<main class="row" id="todocontainer">

  <div class="small-12 large-expand columns todocolumn" id="read">
  <header><h1 id="todoheader">Read</h1></header>
  <ul class="listcontainer">
    <h2>Tale of Two Cities</h2>
    <input type="image" src="../images/check.png" id="submit" value="check">
    <div id="togglecontainer">
      <li>
        <div class="buttons">
        <p><a href="#" class="sidebuttons"><i class="fi-check"></i></a>
        <p><a href="#" class="sidebuttons"><i class="fi-x"></i></a>
        </div>
        <div class="item-content">
          <img src="../images/bird.png"/>
          <body class="synopsis">Here is some text. More text. More more more text. Here is some text. More text. More more more text.  Here is some text. More text. More more more text.  Here is some text. More text. More more more text.  Here is some text. More text. More more more text.</body>
          <p class="rating">4.5</p>
          <a href="www.facebook.com" id="url">View the trailer here</a>
        </div>
      </li>
    </div>
  </ul>
</div>

  <div class="small-12 large-expand columns todocolumn" id="watch">Five</div>
    <header><h1 id="todoheader">Read</h1></header>
    <ul class="listcontainer">
      <h2>Tale of Two Cities</h2>
      <input type="image" src="../images/check.png" id="submit" value="check">
      <div id="togglecontainer">
        <li>
          <div class="buttons">
          <p><a href="#" class="sidebuttons"><i class="fi-check"></i></a>
          <p><a href="#" class="sidebuttons"><i class="fi-x"></i></a>
          </div>
          <div class="item-content">
            <img src="../images/bird.png"/>
            <body class="synopsis">Here is some text. More text. More more more text. Here is some text. More text. More more more text.  Here is some text. More text. More more more text.  Here is some text. More text. More more more text.  Here is some text. More text. More more more text.</body>
            <p class="rating">4.5</p>
            <a href="www.facebook.com" id="url">View the trailer here</a>
          </div>
        </li>
      </div>
    </ul>
  <div class="small-12 large-expand columns todocolumn" id="eat">Six</div>
  <div class="small-12 large-expand columns todocolumn" id="buy">Four</div>

</main>


<!-- this needs to stay unless you finish the partial footer
 -->  </body>
</html>