<!-- THIS IS THE MAIN USER VIEW
MOCK UP 1 - MAIN PAGE -->
  <% include ../views/partials/head %>

<!-- both "row" and "container" will affect this -->
<main class="row" id="todocontainer">

  <div class="small-12 large-expand columns todocolumn">
    <header><h1 class="todoheader">Buy</h1></header>
    <ul class="listcontainer">
      <div class="namecontainer">
        <h2>Cookies</h2>
        <input type="image" src="../images/check.png" id="buy">
          <div class="togglecontainer">
            <li>
              <div class="item-content">
                <img src="http://placehold.it/250x150"/>
                <div class="synopsis" id="scrollContainer">Here is some text. More text. More more more text. Here is some text. More text. More more more text.  Here is some text. More text. More more more text.  Here is some text. More text. More more more text.  Here is some text. More text. More more more text.
                </div>
                <p class="rating">4.5</p>
                <a href="www.facebook.com" id="url">View the trailer here</a>
                <div class="buttons">
                  <p><input type="image" src="../images/check.png" class="sidebuttons delete">
                  <p><a href="#" class="sidebuttons"><i class="fi-x"></i></a>
                </div>
              </div>
            </li>
          </div>
      </div>
    </ul>

    <ul class="listcontainer">
      <div class="namecontainer">
        <h2>Cookies</h2>
        <input type="image" src="../images/check.png" id="buy">
          <div class="togglecontainer">
            <li>
              <div class="item-content">
                <img src="http://placehold.it/250x150"/>
                <div class="synopsis" id="scrollContainer">Here is some text. More text. More more more text. Here is some text. More text. More more more text.  Here is some text. More text. More more more text.  Here is some text. More text. More more more text.  Here is some text. More text. More more more text.
                </div>
                <p class="rating">4.5</p>
                <a href="www.facebook.com" id="url">View the trailer here</a>
                <div class="buttons">
                  <p><a href="#" class="sidebuttons"><i class="fi-check"></i></a>
                  <p><a href="#" class="sidebuttons"><i class="fi-x"></i></a>
                </div>
              </div>
            </li>
          </div>
      </div>
    </ul>

  </div>

  <div class="small-12 large-expand columns todocolumn">
    <header><h1 class="todoheader">Eat</h1></header>
    <ul class="listcontainer">
      <div class="namecontainer">
        <h2>Tale of Two Cities</h2>
        <input type="image" src="../images/check.png" id="eat">
          <div class="togglecontainer">
            <li>
              <div class="item-content">
                <img src="http://placehold.it/250x150"/>
                <div class="synopsis" id="scrollContainer">Here is some text. More text. More more more text. Here is some text. More text. More more more text.  Here is some text. More text. More more more text.  Here is some text. More text. More more more text.  Here is some text. More text. More more more text.
                </div>
                <p class="rating">4.5</p>
                <a href="www.facebook.com" id="url">View the trailer here</a>
                <div class="buttons">
                  <p><a href="#" class="sidebuttons"><i class="fi-check"></i></a>
                  <p><a href="#" class="sidebuttons"><i class="fi-x"></i></a>
                </div>
              </div>
            </li>
          </div>
      </div>
    </ul>
  </div>

    <div class="small-12 large-expand columns todocolumn">
    <header><h1 class="todoheader">Read</h1></header>
    <ul class="listcontainer">
      <div class="namecontainer">
        <h2>Tale of Two Cities</h2>
        <input type="image" src="../images/check.png" id="read">
          <div class="togglecontainer">
            <li>
              <div class="item-content">
                <img src="http://placehold.it/250x150"/>
                <div class="synopsis" id="scrollContainer">Here is some text. More text. More more more text. Here is some text. More text. More more more text.  Here is some text. More text. More more more text.  Here is some text. More text. More more more text.  Here is some text. More text. More more more text.
                </div>
                <p class="rating">4.5</p>
                <a href="www.facebook.com" id="url">View the trailer here</a>
                <div class="buttons">
                  <p><a href="#" class="sidebuttons"><i class="fi-check"></i></a>
                  <p><a href="#" class="sidebuttons"><i class="fi-x"></i></a>
                </div>
              </div>
            </li>
          </div>
      </div>
    </ul>
  </div>

  <div class="small-12 large-expand columns todocolumn">
    <header><h1 class="todoheader">Watch</h1></header>
    <ul class="listcontainer">
      <div class="namecontainer">
        <h2>Tale of Two Cities</h2>
        <input type="image" src="../images/check.png" id="watch">
          <div class="togglecontainer">
            <li>
              <div class="item-content">
                <img src="http://placehold.it/250x150"/>
                <div class="synopsis" id="scrollContainer">Here is some text. More text. More more more text. Here is some text. More text. More more more text.  Here is some text. More text. More more more text.  Here is some text. More text. More more more text.  Here is some text. More text. More more more text.
                </div>
                <p class="rating">4.5</p>
                <a href="www.facebook.com" id="url">View the trailer here</a>
                <div class="buttons">
                  <p><a href="#" class="sidebuttons"><i class="fi-check"></i></a>
                  <p><a href="#" class="sidebuttons"><i class="fi-x"></i></a>
                </div>
              </div>
            </li>
          </div>
      </div>
    </ul>
  </div>


</main>


<!-- this needs to stay unless you finish the partial footer
 -->  </body>
</html>