$font-stack:    Helvetica, sans-serif;
/*$primary-text:*/
$bg-color: #F5E1D0;


html {
  box-sizing: border-box;
  display: inline-block;
  background-color: $bg-color;
}

*, *:before, *:after {
  box-sizing: inherit;
  /*display: flex;*/
}

.outerbody {
  height: 100%;
  background-color: $bg-color;
  display: flex;
  justify-content: center;
}

.body {
}

#todocontainer {
  max-width: none;
  background-color: $bg-color;
  height: 100%;

}





