$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$header-color: #00a087;
$gradient-color1: white;
$gradient-color2: #3498db;

@mixin linear-gradient($color1:$gradient-color1, $color2:$gradient-color2) {
    background-image: -webkit-linear-gradient(top, $color1, $color2);
    background-image: -moz-linear-gradient(top, $color1, $color2);
    background-image: -ms-linear-gradient(top, $color1, $color2);
    background-image: -o-linear-gradient(top, $color1, $color2);
    background-image: linear-gradient(to bottom, $color1, $color2);
}

body {
  font: 100% $font-stack;
  color: $primary-color;
}

#nav-bar {
  background-color: $header-color;
  text-align: center;

  .button {
    margin: 30px 0;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #238c87;
    padding: 10px 20px 10px 20px;
    text-align: center;

    &:hover {
      border: none;
      @include linear-gradient;
    }
  }

}