$font-stack:    Helvetica, sans-serif;
$bg-color: #A1D490;

@mixin margin($marginvalue:50px) {
  margin: $marginvalue;
}

.searchdiv {
  background-color: white;
  height: 110px;
  width: 75%;
  @include margin(25px 15% 25px 15%);
  border-radius: 10px;

    .options {
      margin-top: 35px;
      margin-left: 40px;
      width: 15%;
    }

    #search {
      width: 65%;
      margin: 35px 10px 0 30px;
      display: inline-block;
    }

    .submit {
      @include margin;
    }
}

